.infoProject {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoProject > img {
    border-radius: 10px;
    width: 182.2px;
    height: 200px;
    margin: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.475);
}

.textInfo {
    margin: 20px;
}

.textInfo a {
    text-decoration: none;
    color: #50fa7b;
}

.textInfo > p {
    display: flex;
    margin-top: 16px;
    color: #f8f8f2;
}